@use "variables";
@use "mixin";

// -------------------------
// 全ページ共通のスタイル
// -------------------------

//全ての要素のbox-sizingの値を親要素から継承する
*,
*:before,
*:after {
  box-sizing: inherit;
  // cursor: inherit;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
  font-weight: 500;
  letter-spacing: 0.05em;
  background-color: variables.$accent_green-color;

  //html要素のbox-sizingの値はboerder-boxを指定
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  color: variables.$main_txt-color;
  line-height: 1.7;
  background-color: variables.$bg-color;
}

p {
  margin-top: 10px;
}

.img-wrapper {
  text-align: center;
  img {
    vertical-align: top;
    width: 100%;
  }
}

//SP版のみ改行
.br-sp {
  display: none;
  @include mixin.sp {
    display: block;
  }
}

//PC版のみ改行
.br-pc {
  @include mixin.sp {
    display: none;
  }
}

.sp-only {
  @include mixin.pc {
    display: none;
  }
}

.pc-only {
  @include mixin.sp {
    display: none;
  }
}

.contents-bg {
  background: url(../img/background.jpg) center/contain repeat-y;
}

.section-inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
  @include mixin.sp {
    min-width: auto;
  }
}

// ドロップダウン展開時の背景デザイン用要素
.dark-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: variables.$burger_menu-opened-bg-color;
  transition: all 0.35s ease;
  visibility: hidden;
  z-index: 5;

  &.active {
    visibility: visible;
    transition: all 0.35s ease;
  }
}

//共通のレイアウト
.common-layout {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px 180px;
  @include mixin.sp {
    padding-bottom: 60px;
  }
  h1 {
    color: variables.$accent_txt-color;
    font-size: 3.6rem;
    padding-top: 20px;
    text-align: center;
    font-weight: 700;
    &::first-letter {
      color: variables.$accent_pink-color;
    }
    &::after {
      content: attr(data-title);
      display: block;
      font-size: 2rem;
    }
  }
  .breadcrumbs {
    margin-top: 40px;
    padding: 0 20px;
    display: flex;
    color: variables.$accent_txt-color;
    @include mixin.sp {
      margin-top: 20px;
      padding: 0 10px;
    }
    li:not(:last-child)::after {
      content: ">";
      display: inline-block;
      margin: 0 8px 0 4px;
    }
  }
  .desc {
    color: variables.$accent_txt-color;
    padding: 0 20px;
    @include mixin.sp {
      padding: 0 10px;
    }
    a {
      color: variables.$accent_pink-color;
      font-weight: 700;
      text-decoration: underline variables.$accent_pink-color;
    }
  }
  .box-gray {
    margin-top: 30px;
    padding: 40px 60px;
    background-color: variables.$box-color;
    border-radius: 10px;
    @include mixin.sp {
      margin-top: 15px;
      padding: 15px 20px 30px;
    }
    // start 文中リンクモジュール
    p {
      a {
        color: variables.$darker_pink-color;
        font-weight: 700;
        text-decoration: underline variables.$darker_pink-color;
      }
    }
    // end 文中リンクモジュール
    // start h3見出しモジュール
    h3 {
      font-size: 2.2rem;
      font-weight: 700;
      border-bottom: solid 2px variables.$border_gray-color;
      padding-bottom: 10px;
      &::first-letter {
        color: variables.$accent_green-color;
      }
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
    // end h2見出しモジュール
    // start h4見出しモジュール
    h4 {
      font-size: 1.8rem;
      font-weight: 700;
      &::first-letter {
        color: variables.$accent_green-color;
      }
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
    // end h3見出しモジュール
    // start リストモジュール
    ul {
      list-style: disc;
      padding-left: 25px;
      li {
        margin-top: 10px;
      }
    }
    // end リストモジュール
  }
}

//ボタンモジュール
.mod-btn {
  display: flex;
  a {
    font-weight: 700;
    display: inline-block;
    color: variables.$whie_txt-color;
    border-radius: 30px;
    margin: 50px auto 0;
    padding: 10px 40px;
    box-shadow: 0 2px 6px variables.$blur_shadow-color;
    @include mixin.sp {
      margin-top: 40px;
    }
    &.pink {
      background-color: variables.$accent_pink-color;
    }
  }
}

//
.mod-desc_box {
  background-color: variables.$bg_white-color;
  border-radius: 5px;
  padding: 15px;
  margin-top: 15px;
  a {
    color: variables.$accent_green-color !important;
    text-decoration: underline variables.$accent_green-color !important;
  }
}

//上方向に浮かび上がる動きをする対象の初期状態を指定しています。
.fadeup-target {
  opacity: 0;
  transform: translateY(30px);
}

//jsによって、in-viewというクラスが付与されたタイミングで発火します。
//上方向に浮かび上がる動きを指定しています。
.fadeup-target.in-view {
  animation: translateY_up_animation 1s ease forwards,
    opacity_animation 1s ease 0.1s forwards;
  -webkit-animation: translateY_up_animation 1s ease forwards,
    opacity_animation 1s ease 0.1s forwards;
}

//上方向に浮かび上がる動きの内、0.2秒遅れて浮かび上がるものを指定しています。
.fadeup-target.in-view.delay-2 {
  animation: translateY_up_animation 1s ease 0.2s forwards,
    opacity_animation 1s ease 0.3s forwards;
  -webkit-animation: translateY_up_animation 1s ease 0.2s forwards,
    opacity_animation 1s ease 0.3s forwards;
}

//上方向に浮かび上がる動きの内、0.3秒遅れて浮かび上がるものを指定しています。
.fadeup-target.in-view.delay-3 {
  animation: translateY_up_animation 1s ease 0.3s forwards,
    opacity_animation 1s ease 0.3s forwards;
  -webkit-animation: translateY_up_animation 1s ease 0.3s forwards,
    opacity_animation 1s ease 0.3s forwards;
}

//上方向に浮かび上がる動きの内、0.4秒遅れて浮かび上がるものを指定しています。
.fadeup-target.in-view.delay-4 {
  animation: translateY_up_animation 1s ease 0.3s forwards,
    opacity_animation 1s ease 0.3s forwards;
  -webkit-animation: translateY_up_animation 1s ease 0.3s forwards,
    opacity_animation 1s ease 0.3s forwards;
}
