@use "variables";
@use "mixin";

// -------------------------
// トップページのスタイル
// -------------------------

// start メインイメージ
.main-img {
  width: 100%;
  height: 0;
  margin-top: 20px;
  padding-top: calc(700 / 1920 * 100%);
  background: url(./img/main-visual.jpg) center/cover no-repeat;
  @include mixin.scroll {
    padding-top: calc(700 / 1920 * 1080px);
  }
  @include mixin.sp {
    padding-top: calc(1080 / 720 * 100%);
    background: url(./img/main-visual-sp.jpg) center/cover no-repeat;
  }
}
// end メインイメージ

// start お知らせエリア
.news-section {
  background-color: variables.$accent_green-color;
  padding-bottom: 60px;
  .section-inner {
    h2 {
      font-size: 3.6rem;
      left: 0.6rem;
      padding: 1em 0;
      text-align: center;
      font-weight: 700;
      @include mixin.sp {
        font-size: 3rem;
        margin-bottom: 0;
        padding: 0.7em 0;
      }
      span {
        display: block;
        text-align: center;
        font-size: 1.4rem;
        padding: 10px 0 0;
        @include mixin.sp {
          padding: 0;
        }
      }
    }
    .news-container {
      .news-list {
        .news-list-item {
          border-top: 1px solid variables.$main_txt-color;
          &:last-child {
            border-bottom: 1px solid variables.$main_txt-color;
          }
          .news-list-item-inner {
            padding: 20px 15px;
            display: flex;
            @include mixin.sp {
              flex-direction: column;
              padding: 15px;
            }
            .date {
              margin-right: 30px;
              display: inline-block;
              min-width: 130px;
              @include mixin.sp {
                margin-right: 10px;
                min-width: auto;
              }
            }
            .category {
              display: inline-block;
              color: variables.$whie_txt-color;
              margin-right: 30px;
              border-radius: 15px;
              padding: 5px 20px;
              font-size: 1.2rem;
              background-color: variables.$label_purple-color;
              min-width: 120px;
              text-align: center;
              @include mixin.sp {
                margin-right: 0;
              }
            }
            .news-title {
              @include mixin.sp {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}
// end お知らせエリア
// start お知らせエリア以下の共通項目
section:not(:first-child) {
  margin: 120px auto 180px;
  @include mixin.sp {
    margin: 30px auto 60px;
  }
  h2 {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
    @include mixin.sp {
      min-width: auto;
      padding: 0 20px;
    }

    .img-wrapper {
      max-width: 230px;
    }
  }
  .content-box {
    margin: 2.62% 0 1.83%;
    padding: 50px 0 20px;
    transform: skewY(-3deg);
    background-color: variables.$accent_pink-color;
    color: variables.$whie_txt-color;
    .content-box-horizontal {
      -webkit-transform: skewY(3deg);
      transform: skewY(3deg);
      max-width: 1080px;
      margin: 0 auto;
      padding: 0 20px;
    }
  }
}
section:last-child {
  margin-bottom: 0;
  padding-bottom: 180px;
  @include mixin.sp {
    padding-bottom: 60px;
  }
}
// end お知らせエリア以下の共通項目
// start 目標エリア
.goal-section {
  h2 {
    .img-wrapper {
      max-width: 178px !important;
    }
  }
  .content-box-horizontal {
    position: relative;
    .txt-container {
      max-width: 540px;
      p {
        margin-top: 20px;
        line-height: 2;
        b {
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.3;
          position: relative;
          background: -webkit-linear-gradient(transparent 60%, #{variables.$darker_pink-color} 0);
          background: linear-gradient(transparent 60%, #{variables.$darker_pink-color} 0);
        }
        &.emphasized {
          font-size: 2.2rem;
          font-weight: 700;
        }
      }
    }
    .goal-img {
      width: 30vw;
      max-width: 500px;
      position: absolute;
      top: calc(150px - 28vw);
      right: calc(350px - 20vw);
      @include mixin.sp {
        width: 35vw;
        top: -220px;
        right: 20px;
      }
    }
  }
}
// end 目標エリア
// start 実況中のゲームエリア
.games-section {
  // start PC表示のswiper
  .content-box {
    padding: 0 !important;
    .swiper {
      padding: 0 20px;
      .content-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content-img {
          max-width: 500px;
        }
        .content-desc {
          width: 50%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          padding-right: 15px;
          h3 {
            font-size: 2.5rem;
            font-weight: 700;
          }
          p {
            margin-top: 15px;
            font-size: 1.6rem;
            text-align: left;
          }
        }
      }
    }
  }
  // end PC表示のswiper
  // start スマホ表示のswiper
  .content-box-sp {
    margin-top: 30px;
    color: variables.$whie_txt-color;
    position: relative;
    .content-box-diagonal {
      background-color: variables.$accent_pink-color;
      width: 100%;
      height: 50vw;
      position: absolute;
      top: 5px;
      left: 0;
      transform: skewY(-3deg);
    }
    .swiper {
      .swiper-wrapper {
        .swiper-slide {
          .content-inner {
            padding: 0 20px;
            .content-desc {
              h3 {
                font-weight: 700;
                font-size: 2rem;
                margin-top: 15px;
              }
              p {
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
  }
  // end スマホ表示のswiper
  // start スライド切り替えボタン
  .swiper-button-prev,
  .swiper-button-next {
    width: 60px;
    height: 60px;
    @include mixin.sp {
      top: 22vw;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .swiper-button-prev {
    left: 10px;
    @include mixin.sp {
      left: 0;
    }
    &::after {
      background: url(../img/prev-btn.png) center/cover no-repeat;
    }
  }
  .swiper-button-next {
    right: 10px;
    @include mixin.sp {
      right: 0;
    }
    &::after {
      background: url(../img/next-btn.png) center/cover no-repeat;
    }
  }
  // end スライド切り替えボタン
}
// end 実況中のゲームエリア
