$main_txt-color: #222222;
$accent_txt-color: #D8D8D8;
$thin_txt-color: #555555;
$whie_txt-color: #ffffff;
$bg-color: #111111;
$bg_white-color: #ffffff;
$box-color: rgba(255, 255, 255, 0.8);
$burger_menu-opened-bg-color: rgba(0, 0, 0, 0.4);
$accent_green-color: #2DB5AB;
$accent_pink-color: #F86EDB;
$darker_pink-color: #98137C;
$border_gray-color: #A5A5A5;
$border_pink-color: #C642B3;
$burger_shadow-color: rgba(247,115,221,0.8);
$simple_shadow-color: rgba(0, 0, 0, 0.15);
$blur_shadow-color: rgba(0, 0, 0, 0.4);
$label_purple-color: #BD5FEB;