@use "variables";
@use "mixin";

// -------------------------
// ファンアートページのスタイル
// -------------------------
.gallery {
  list-style: none !important;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0 !important;
  @include mixin.sp {
    flex-direction: column;
  }
  .fanart-container {
    width: 50%;
    margin-top: 0 !important;
    @include mixin.sp {
      width: 100%;
      margin-top: 15px !important;
    }
    &:nth-child(2n) {
      padding-left: 20px;
      @include mixin.sp {
        padding-left: 0;
      }
    }
    &:nth-child(2n+1) {
      padding-right: 20px;
      @include mixin.sp {
        padding-right: 0;
      }
    }
    &:nth-child(n+2) {
      @include mixin.sp {
        margin-top: 30px !important;
      }
    }
    &:nth-child(n+3) {
      margin-top: 40px !important;
      @include mixin.sp {
        margin-top: 30px !important;
      }
    }
    .img-wrapper {
      box-shadow: 4px 4px 6px variables.$blur_shadow-color;
    }
    p {
      text-align: center;
    }
  }
}