@use "variables";
@use "mixin";

// -------------------------
// お知らせ一覧のスタイル
// -------------------------
.categories-container {
  border-radius: 5px;
  margin-bottom: 30px;
  @include mixin.sp {
    padding: 10px;
    margin-bottom: 20px;
  }
  ul {
    list-style: none !important;
    padding-left: 0 !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      margin-top: 0 !important;
      padding: 0 15px;
      position: relative;
      &:not(:last-child)::after {
        content: "";
        display: block;
        background-color: variables.$main_txt-color;
        width: 1px;
        height: 14px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
}

.news-heading {
  padding-bottom: 0 !important;
  border-bottom: none !important;
}

.news-list {
  list-style: none !important;
  padding-left: 0 !important;
  margin-top: 36px;
  @include mixin.sp {
    margin-top: 20px;
  }
  .news-list-item {
    border-top: 1px solid variables.$main_txt-color;
    margin-top: 0 !important;
    &:last-child {
      border-bottom: 1px solid variables.$main_txt-color;
    }
    .news-list-item-inner {
      padding: 20px 15px;
      display: flex;
      @include mixin.sp {
        flex-direction: column;
        padding: 15px;
      }
      .date {
        margin-right: 30px;
        display: inline-block;
        min-width: 130px;
        @include mixin.sp {
          margin-right: 10px;
          min-width: auto;
        }
      }
      .category {
        display: inline-block;
        color: variables.$white_txt-color;
        margin-right: 30px;
        border-radius: 15px;
        padding: 5px 20px;
        font-size: 1.2rem;
        min-width: 120px;
        text-align: center;
        @include mixin.sp {
          margin-right: 0;
        }
        &.live {
          background-color: variables.$label_orange-color;
        }
        &.topics {
          background-color: variables.$label_pink-color;
        }
        &.blog {
          background-color: variables.$label_blue-color;
        }
        &.schedule {
          background-color: variables.$label_red-color;
        }
      }
      .news-title {
        @include mixin.sp {
          margin-top: 10px;
        }
      }
    }
  }
}

.wp-pagenavi {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  span, a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid variables.$main_txt-color;
    font-size: 1.5rem;
    transition: 0.3s ease-in;
  }
  span, a:not(:last-child) {
    margin-right: 12px;
  }
  a.nextpostslink, a.previouspostslink {
    width: auto;
    padding: 5px 18px;
  }
  span.current {
    background-color: variables.$accent_pink-color;
    color: variables.$white_txt-color;
    border-color: variables.$accent_pink-color;
  }
}

// -------------------------
// お知らせ投稿記事のスタイル
// -------------------------
.label-list {
  display: flex;
  list-style: none !important;
  padding-left: 0 !important;
  justify-content: space-between;
}
.cotegory-wrapper {
  .category {
    display: inline-block;
    color: variables.$white_txt-color;
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 1.2rem;
    min-width: 120px;
    text-align: center;
    &.live {
      background-color: variables.$label_orange-color;
    }
    &.topics {
      background-color: variables.$label_pink-color;
    }
    &.blog {
      background-color: variables.$label_blue-color;
    }
    &.schedule {
      background-color: variables.$label_red-color;
    }
  }
}
.date-wrapper {
  color: variables.$thin_txt-color;
}
.post-wrapper {
  .eyecatch {
    display: block;
    height: 0;
    padding-top: 60%;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
    img {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}
