@use "variables";
@use "mixin";

// -------------------------
// お問い合わせページのスタイル
// -------------------------
.form-wrapper {
  .form-container {
    dl {
      &:not(:first-child) {
        margin-top: 20px;
      }
      dt {
        label {
        }
      }
      dd {
        input {
          display: block;
          background-color: variables.$bg_white-color;
          width: 100%;
          margin-top: 10px;
          border-radius: 5px;
          padding: 5px 10px;
        }
        textarea {
          display: block;
          background-color: variables.$bg_white-color;
          width: 100%;
          margin-top: 10px;
          border-radius: 5px;
          padding: 5px 10px;
        }
      }
    }
  }
  .btn-container {
    display: flex;
    justify-content: center;
    input {
      background-color: variables.$accent_pink-color;
      font-weight: 700;
      display: inline-block;
      color: variables.$white_txt-color;
      border-radius: 30px;
      margin: 50px auto 0;
      padding: 10px 40px;
      box-shadow: 0 2px 6px variables.$blur_shadow-color;
      @include mixin.sp {
        margin-top: 30px;
      }
    }
  }
}
